{% extends 'base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Blog</h1>
        <ul class="list-disc list-inside">
            {% for post in object_list %}
                <li class="mb-2">
                    <a href="/fake/blog/{{ post.slug }}/" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
